.card {
	margin: 10px;
	box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
	position: relative;
}

.card_image {
	height: 250px;
	overflow: hidden;
}

.card_img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.card_image:hover .card_img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.card_title,
.card_btn_group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 15px;
}

.order_flg {
	position: absolute;
	top: 0;
	right: 0;
	padding: 2px 10px;
	background-color: var(--green-color);
	border: 1px solid var(--green-color);
	color: var(--background-color);
}

.card_btn_group > * {
	width: 100%;
	margin: 0px 5px;
}

.detail_card {
	padding: 20px;
}

.title {
	text-align: center;
}

.detail_container {
	display: flex;
	/* justify-content: space-around; */
	align-items: center;
	flex-direction: row;
	/* background-color: turquoise; */
}

.detail_container > * {
	flex: 50%;
}

.detail_img {
	width: 50%;
	height: 400px;
	text-align: center;
}

.detail_btn {
	margin-top: 20px;
}

.add_to_cart {
	padding: 10px 40px;
}

.img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.profile_card {
	padding: 20px;
}

.counter {
	margin-top: 20px;
}

@media screen and (max-width: 787px) {
	.detail_container {
		flex-direction: column;
	}

	/* .detail_container > * {
		flex: 100%;
	} */

	.detail_btn,
	.counter {
		margin-top: 0px;
		text-align: center;
	}

	.detail_img {
		height: 300px;
		width: 100%;
	}
}

.minus {
	margin-left: 5px;
}

.specs {
	padding: 10px;
}

.minus,
.plus {
	padding: 5px 12px;
	border: 1px solid var(--text-color);
	border-radius: 50%;
	font-size: 20px;
	cursor: pointer;
}

.item_count {
	padding: 10px;
	width: 100px;
	margin: 0 10px;
	border-radius: 5px;
	border: 1px solid var(--text-color);
	font-size: 15px;
}

.cart_card {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cart_wrapper {
	flex: 50%;
	height: 250px;
}

.cart_wrapper div {
	margin: 20px;
}

.cart_wrapper .cart_img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.delete_icon {
	color: red;
	font-size: 20px;
	cursor: pointer;
}

.icon_container {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	width: 50px;
	border: 1px solid var(--text-color);
}

.cart_container {
	display: grid;
	grid-template-columns: 75% 25%;
}

.checkout {
	height: 120px;
	padding: 10px;
}

.checkout .btn {
	width: 100%;
}

.confirm_info {
	background: rgb(231, 230, 230);
	display: none;
	height: 150px;
	padding: 10px;
}

.confirm_info > * {
	margin-top: 10px;
}

.confirm_info .btn {
	width: 50%;
}

.show_confirm {
	display: block;
}

.update_form {
	width: 60%;
	margin: 20px auto;
	border-radius: 10px;
	padding: 50px 20px;
	background: rgb(231, 230, 230);
}

.update_form .btn {
	width: 100%;
}

@media screen and (max-width: 787px) {
	.cart_container {
		grid-template-columns: 100%;
	}

	.update_form {
		width: 100%;
	}

	.cart_wrapper {
		height: 350px;
	}
}

.stock_flg {
	padding: 2px 10px;
	background-color: var(--green-color);
	border: 1px solid var(--green-color);
	color: var(--background-color);
}

.empty {
	height: 80vh;
	display: flex;
	font-size: 2rem;
	font-weight: 600;
	color: red;
	justify-content: center;
	align-items: center;
}

.left_item {
	color: gray;
	font-size: 12px;
}


/* table */
.table {
	width: 100%;
}

.order_table {
	overflow-y: hidden;
}

th, td {
	border: 2px solid var(--text-color);
	text-align: center;
}

.txt_warning {
	color: var(--primary-color);
}

.txt_success {
	color: rgb(132, 214, 9);
}

.threeDots {
	display: flex;
	justify-content: center;
	align-items: center;
}