.card {
    margin: 10px;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1) ;
    position: relative;
}

.card_image {
    height: 300px;
}

.card_img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.card_title, .card_btn_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.order_flg {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 10px;
    background-color: var(--green-color);
    border: 1px solid var(--green-color);
    color: var(--background-color);
}

.card_btn_group > * {
    width: 100%;
    margin: 0px 5px;
}