.form_field {
	margin: 20px auto;
}

.form_field > * {
	display: block;
}

.register, .login {
	padding: 20px;
	width: 40%;
	margin: 50px auto;
}

.notice {
    width: 40%;
    margin: 0 auto;
}

.form_control {
	padding: 10px 20px;
	border-radius: 5px;
	border: 2px solid var(--text-color);
	font-size: 15px;
    width: 100%;
}

.form_field button {
    margin: 0 auto;
    width: 100%;
}

.note_link {
    float: right;
}

.social_acc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_acc .facebook {
    background: #3b5998;
}

.social_acc .google {
    background: #d54f3a;
}

.link {
    color: var(--primary-color);
    cursor: pointer;
}

@media screen and (max-width: 787px){
    .register, .login, .notice {
        width: 90%;
    }
}

.error_txt {
    color: #ff0000;
    font-size: 14px;
}