@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
  --primary-color: #f6b60d;
  --secondary-color: #ffee0a;
  --background-color : #143d59;
  --text-color: #f6b60d;
  --gray-color: #cecdcd;
}

*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: var(--background-color);
	color: var(--text-color);
}

ul {
	list-style: none;
}

a {
	color: var(--primary-color);
	text-decoration: none;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
}

.flex_container {
	display: flex;
}

.grid_container {
	display: grid;
}
